@use "../../assets/Styles/main.scss" as *;
@use "sass:color";
* {
}
.chat-fallback {
  position: absolute;
  left: 757px;
  align-items: center;
  top: 350px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  .logo-icon {
    width: 47px;
    height: 47px;
    background: $dark-navy-light;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 128px;
  }

  .logo-text {
    font-weight: 700;
    font-size: 1.2rem;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
